.portadaReproduciendo {
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    user-select: none;
}

.info {
    margin-top: 24px;
    margin-left: 20px;
    user-select: none;
}

.cancionInfo {
    max-width: 200px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    margin-top: 8px;
}

@media only screen and (max-width: 768px) {
    .cancionInfo {
        max-width: 100px;
    }
}
